{{! Authenticated Layout }}

<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">Talkee</a>
			<div id="topbar"></div>
		</div>
	</div>
</div>

<div class="container-fluid authenticated">
	<div id="content"></div>
</div>