<ul class="unstyled span12" id="messages"></ul>
<form id="new-message">
	<input type="text" class="span11" id="message-content">
	<button type="submit" class="btn btn-large btn-primary">Send</button>
</form>