@import 'compass';
@import 'bootstrap';
@import 'font-awesome';
@import 'jquery.jgrowl';

body {
	background: asset-data-url('fabric_plaid.png');
}

a { cursor: pointer; }

.btn, textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
	@include border-radius(0);
}

.authenticated {
	padding-top: 60px;
}