<h1>Sign in</h1>

<div class="control-group">
	<label class="control-label" for="email">Email Address</label>
	<div class="controls">
		<input type="text" data-value="user.email" name="email" placeholder="me@example.com">
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="password">Password</label>
	<div class="controls">
		<input type="password" name="password" data-value="user.password">
	</div>
</div>

<button type="submit" class="btn btn-large btn-primary">Sign in</button>
